<h1 class="page-header">Dashboard</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th class="text-right">Price</th>
        </tr>
    </thead>
    <tbody>
        <% @products.each do |p| %>
            <tr>
                <td>
                    <% if p.images.length > 0 %>
                        <img src="<%= p.images.first.content.url(:gallery) %>" />
                    <% end %>
                </td>
                <td><%= p.title %></td>
                <td class="text-right"><%= number_to_currency(p.price) %></td>
            </tr>
        <% end %>
    </tbody>
</table>
