<div id="payment">
    <div class="container">
            <div class="row empty-cart">
                <div class="col-xs-12 text-center">
                    <h3>Danke für Deine Bestellung.</h3>
                    <p class="text-muted">
                        Deine Bestellung wird so schnell wie möglich für Dich verpackt und dann versendet.
                    </p>
                    <p>
                        Liebe Grüße,</br>
                        Lilly Park
                    </p>
                    <p>
                        <a href="<%= store_url %>">Hier geht's zum Shop</a>
                    </p>
                </div>
            </div>
