<div id="order" class="success">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h3>Danke für Deine Bestellung.</h3>
                <p class="text-muted">
                    Bitte Deine Zahlung nicht vergessen an:<br/>
                </p>
                <div>
                    Unsere Bankverbindung:<br/>
                    <strong>Sparkasse Hochfranken Christina Park</strong><br/>
                    BLZ 780 500 00 |
                    Konto NR: 222 141 772<br/>
                    IBAN: DE74780500000222141772 | 
                    BIC: BYLADEM1HOF<br/>
                </div>
                <br/>
                <p class="text-muted">
                    Sobald wir Deine Zahlung erhalten haben, schicken wir Deine Bestellung so schnell wie möglich an Dich.
                </p>
                <p>
                    Liebe Grüße,</br>
                    Lilly Park
                </p>
                <p>
                    <a href="<%= store_url %>">Zurück zum Shop</a>
                </p>
            </div>
        </div>
    </div>
</div>


