<div class="page-header row">
    <div class="col-xs-9">
        <h2><i class="glyphicon glyphicon-tag"></i> Products</h2>
    </div>
    <div class="col-xs-3 text-right">
        <a href="<%= new_admin_product_path %>" class="btn btn-primary">Add a product</a>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row" style="padding-bottom:30px;">
            <div class="col-xs-12">
                <input type="text" class="form-control" data-bind="textInput:products.filter"  placeholder="Start typing to search for products..." />
            </div>
        </div>

        <table class="table table-hover" data-bind="with:products">
            <thead>
                <tr>
                    <th width="25%">Image</th>
                    <th width="50%" data-bind="sorter: 'title'">Title</th>
                    <th width="25%" data-bind="sorter: 'price'">Price</th>
                    <th></th>
                </tr>
            </thead>

            <tbody data-bind="foreach:data">
                <tr data-bind="click:function() { location.href = '<%= admin_products_url %>/' + id + '/edit'; }">
                    <td>
                        <img data-bind="attr: { src: image_url }" width="50px"></img>
                    </td>
                    <td data-bind="text:title"></td>
                    <td data-bind="currency:price"></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-xs-4">
                <pagernumberofitems params="source: products, text: 'Anzahl Einträge'"></pagernumberofitems>
                <pagesize params="source: products, text: 'Einträge pro Seite'" style="display: inline-block;"></pagesize>
            </div>
            <div class="col-xs-8">
                <pager params="source: products, visiblePages: 10" class="pull-right"></pager>
            </div>
        </div>
    </div>
</div>

<script>
    require(['admin/products/index'], function(main) {
        main({
            productsUrl: '<%= admin_products_url %>'
        });
    });
</script>
