#order {
    padding-bottom: 30px;

    h4 {
    //     text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 30px;
    }


    .form-control {
        border-radius: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }

    .summary {
        border: 6px solid #f1f1f1;

        h4 {
            margin: 20px 20px 20px;
        }

        p {
            // text-transform: uppercase;
            margin-left: 20px;
            margin-right: 20px;
            border-top: 1px solid #d8d8d8;
            padding-top: 10px;

            span { 
                position: absolute;
                right: 20px;
            }

            &:nth-child(1) {
                border-top: none;
            }

            &.line-item {
            }

            &.sub-total {
                border-top: 2px solid #d8d8d8;
                font-weight: bold;
            }
            &.shipping-cost {
                // font-weight: bold;
            }

            &.total { 
                font-weight: bold;
                margin-top: 20px;
                padding-top: 20px;
                border-top: 2px solid #333;
                border-bottom: none;

                span { 
                    font-size: 1.8em;
                    margin-top: -0.4em;
                }
            }
 
        }
    }
}

